.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px, 30px;
    margin: 20px;
}

#formacao {
    color: rgb(62, 62, 247);
}

nav {
    display: flex;
    gap: 15px;
}

body {
    height: 100vh;
}

.banner {
display: flex;
align-items: center;
background-color: rgb(99, 252, 252);
gap: 60px;
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
}

.banner img {
    width: 150px;
    height: 100px;
    border-radius: 50px;
}

.banner-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.projetos {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.produtos:hover {
 transform: scale(1.02) 
}

.produtos {
border: 2px solid black;
border-radius: 8px;
}

.produtos h3 {
    display: flex;
    justify-content: center;
}

.produtos p {
    display: flex;
    justify-content: center;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.catalogo {
    padding: 25px, 8%;
}

.catalogo h2 {
    text-align: center;
}

footer {
    display: flex;
    background-color: rgb(99, 252, 252);
}

main {
    height: 60vh;
}